.form__item{
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    &:after {
        content: '+';
        display: flex;
        position: absolute;
        right: 0;
        font-size: 18px;
        top: 3px;
    }
    &--opened {
        &:after {
            content: '-';
            display: flex;
            position: absolute;
            right: 0;
            font-size: 18px;
            top: 3px;
        }
    }
}
.form__title {
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.form__reset {
    margin-top: 20px;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--white-color);
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
    opacity: .5;
    transition: 0.6s linear;
    box-sizing: border-box;
    background-color: transparent;  
    &:hover {
        opacity: 1;
    }
}