.item {
    background: var(--white-color);
    position: relative;
    height: 220px;
    display: inline-block;
    color: var(--main-color);
    // border: 1px solid var(--second-color);
    border-right: none;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.6s linear;
    &:hover {
        background-color: var(--blue-color);
        .item__to-cart {
            color: var(--white-color);
            background-color: var(--main-color);
        }
    }
}
.item__skin-info {
    &:after {
        content: ' / ';
        color: #b5b6b7;
    }
    &:last-child::after {
        content: "";
    }
}
.item__info {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 12px;
    font-size: 12px;
}
.item__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    pointer-events: none;
}
.item__link {
    text-decoration: none;
    font-size: 12px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 33px;
    z-index: 10;
    text-transform: none;
}
.item__name {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 20;
    font-size: 13px;
    line-height: 13px;
    bottom: 12px;
    text-transform: none;
}
.item__bottom {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}
.item__to-cart {
    transition: 0.2s all;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    color: inherit;
    text-align: left;
}