.market-cart {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    margin-top: 8px;
    &__sum {
        padding-right: 10px;
    }
}