.skins-market {
    // background-color: var(--second-color);
    box-shadow: 0 13px 49px 0 rgb(18 19 20 / 59%);
    display: grid;
    grid-template-columns: 210px auto;
    padding: 15px 0 0 20px;
    min-height: 350px;
    border-radius: 4px;
    position: relative;
}