@media (max-width:850px){
    .bm-burger-button {
        display: block; 
        z-index: 60;
    }
    .navigation-list {
        display: none;
    }
    .header__img {
        display: none;
    }
    .header__title {
        margin: 0.6em 0;
        line-height: 2.5rem;
    }
    .nav__row {
        justify-content: center;
    }
}

@media (max-width:471px){
    .logo {
        margin: 0px auto;
    }
    .header__row {
        height: 370px;
    }
    .bm-burger-button {
        top:33px
    }
    .pagination__list {
        gap: 10px;
    }
}
@media (max-width:903px) {
    .skins-market {
        display: block;
    }
    .footer__list {
        grid-template-columns: 50% 50%;
    }
    .controls {
        grid-template-columns: 100%;
    }
    .controls__right {
        justify-content: start;
    }
}
@media (max-width:565px) {
    .skins-market {
        display: block;
    }
    .footer__list {
        grid-template-columns: 50% 50%;
    }
    .controls {
        grid-template-columns: 100%;
    }
    .controls__right {
        justify-content: start;
    }
}

@media (max-width:390px) {
    .search__input {
        width: 100%;
    }
    .controls__sort{
        padding-right: 0px;
    }
    .footer__list {
        grid-template-columns: 100%;
    }
}